/* Footer.css */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 50px 0 20px 0;
    font-size: 24px;
}

.footer img{
    width: 122px;
    filter: saturate(0%) brightness(200%);
}

p{
    color: white;
}