.listing-details{
    margin: 0 10%;
}

.infos-and-host{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: -30px;
}

.left-column {
  flex: 3;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

.multi-collapse-container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.collapse-wrapper {
    flex: 1;
    margin: 0 10px;
  }

h1, h4{
    color: #FF6060;
    font-weight: 500;
}

h1{
    font-size: 36px;
}

h4{
    font-size: 18px;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.tag{
    padding: 5px 25px;
    background-color: #FF6060;
    color: white;
    border-radius: 25px; 
}

.host-info {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.host-picture {
  width: 65px;
  height: 65px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin-right: 10px;
}

.host-name {
  color: #FF6060;
  font-size: 18px;
  line-height: 0px;
}

@media (max-width: 768px) { 
    .multi-collapse-container {
        flex-direction: column;
      }
    
      .collapse-wrapper {
        margin: 10px 0; 
      }
  
    .collapse {
      flex-basis: 100%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 20px; 
    }
  
    .collapse:last-child {
      margin-bottom: 0;
    }

    .infos-and-host {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .right-column {
      flex-direction: row-reverse;
      justify-content: space-between;
      margin: auto 0px;
      width: 100%;
    }
    
    .rating{
      margin: auto 0px;
    }
    
    .host-info{
      margin: 0px;
    }
  }