.rating {
    display: flex;
    margin-top: 10px;
  }
  
  .star {
    color: #FF6060; /* Couleur des étoiles pleines */
    margin-right: 6px; /* Espace entre les étoiles */
    font-size: 35px;
  }
  
  .star.empty {
    color: #ccc; /* Couleur des étoiles vides */
  }
  